<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>SMS Inbox</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#example-navbar-collapse">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Site_name</a>
    </div>
    <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">test1</a></li>
            <li><a href="#">test2</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    test3 <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">test3-1</a></li>
                    <li><a href="#">test3-2</a></li>
                    <li><a href="#">test3-3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">test3-4-1</a></li>
                    <li class="divider"></li>
                    <li><a href="#">test3-4-2</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </div>
</nav>


<div class="container-fluid">


    {% for sms in smslist %}
    <table class="table table-bordered" style="margin-bottom: 2px;margin-top: 2px;" cellspacing="1" cellpadding="1" border="1">
        <tbody>
        <tr>

           <td style="padding-bottom: 0px;padding-top: 0px;">

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"><p class="text-left"  style="margin:0 0 0px;">{{ sms.split(" ",3)[0] }}</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6"><p class="text-right" style="margin:0 0 0px;">{{ sms.split(" ",3)[1]+" "+sms.split(" ",3)[2].replace(".",":") }}</p>
                    </div>
                </div>
            </td>
        <tr>
            <td style="padding: 0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12"><p style="margin:0 0 0px;">{{ sms.split(" ",3)[3] }}</p>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    {% end %}


</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>
